nav.navbar(ng-if="vm.isEnabledHeader")
    //- div.nav-left
    //-     a.logo(
    //-         ng-if="!vm.isAuthenticated"
    //-         href="https://taman.altra.id/",
    //-         title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
    //-     )
    //-         include ../../svg/logo.svg

    //-     a.logo(
    //-         ng-if="vm.isAuthenticated"
    //-         href="#",
    //-         tg-nav="home",
    //-         title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
    //-     )
    //-         include ../../svg/logo.svg

    div.nav-left(ng-if="vm.isAuthenticated")
        a(
            tg-nav="home"
            ng-class="{'active': vm.active == 'dashboard' }"
            title="{{'PROJECT.NAVIGATION.DASHBOARD_TITLE' | translate}}"
        )
            tg-svg(svg-icon="icon-dashboard")

        div.topnav-dropdown-wrapper(
            ng-show="vm.projects.size"
            tg-dropdown-project-list
            active="vm.active == 'projects'"
        )

        .project-name(ng-if="vm.active_project")
            | {{vm.active_project.get('name')}}

        //- @Tain: create external links
        //- a(
        //-     href="https://squad.qlobot.com",
        //-     target="_blank",
        //-     title="Squad Space",
        //-     translate="Haloo"
        //- )

    div.nav-left
        a(  
            ng-if="!vm.isAuthenticated"
            href="#",
            tg-nav="discover",
            ng-class="{'active': vm.active == 'discover' }"
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}",
        )
            tg-svg(svg-icon="icon-discover")
            
        a(
            ng-if="vm.customSupportUrl"
            href="{{ vm.customSupportUrl }}",
            target="_blank",
            title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
            translate="PROJECT.NAVIGATION.HELP"
        )

    div.nav-right(ng-if="!vm.isAuthenticated")
        a.login(
            ng-click="vm.login()"
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}"
            translate="LOGIN_COMMON.ACTION_SIGN_IN"
        )
        a.register(
            href="#"
            ng-if="vm.publicRegisterEnabled"
            tg-nav="register"
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}"
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )

    div.nav-right(ng-if="vm.isAuthenticated")
        div.topnav-dropdown-wrapper(
            tg-dropdown-notifications
            active="vm.active == 'notifications'"
        )

        div.topnav-dropdown-wrapper(tg-dropdown-user)
